body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Define the fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply the animation to the background image */
.content::before {
    content: "";
    background-image: url('https://fthmb.tqn.com/LP4_NoRsJCWGS0tIGa0vEBAru9o=/4256x2832/filters:fill(auto,1)/low-angle-view-of-firework-display-over-river-during-sunset-604213021-57752e7b3df78cb62c11aba4.jpg') ,url("https://th.bing.com/th/id/R.f62091e03805aa1a092e242654aa9449?rik=Uh2MYGj43YYcxA&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fIcGVtlX.jpg&ehk=fp3SLHTUn28vgGDlxAzGqwvYTDpvgXgs84f5t7uNghU%3d&risl=&pid=ImgRaw&r=0") ;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 2s ease-in-out forwards;
}

#qwerty{
    color: rgb(255, 255, 255);
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}

#asd{
    background-color: rgba(0, 0, 0, 0.505);
    color: aliceblue;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 1000;
    font-style: normal;
}

/* Adjust animation timing and easing as needed */
#playButton{
    font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  color: yellow;
}
#nmlk{
    font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  color: rgb(51, 255, 0);
}
#ghj{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: rgb(255, 255, 0);
    text-align: right;
}

#qwert{

}
.background {
    background-image: url('image1.jpg'), url('image2.jpg');
    background-position: left top, right bottom; /* Adjust the position as needed */
    background-size: cover, cover; /* Adjust the size as needed */
    background-repeat: no-repeat, no-repeat;
  }
  